@import 'utility'

//***** Fonts *****
$base-text-size: 16px
$base-font-family: sans-serif
$body-font: 'Open Sans', sans-serif
$important-font: 'Roboto', sans-serif


// ***** Colors *****

$body-color: #333333
$trello-color: #D29034

html
  text-size-adjust: 100%

body
  @include font-smoothing(on)
  margin: 0
  font: $base-text-size / 1 $base-font-family
  background-color: #333333

.CardContainer
  background-color: #E2E4E6
  border-radius: 4px
  display: flex
  flex-direction: column
  margin: 10px
  z-index: 1

button, label
  font-family: 'Roboto', sans-serif

.trello
  background-color: $trello-color

.trello, .jobs
  font:
    size: 25px
    weight: bold
  width: 250px


ul
  background-color: white
  border-radius: 10px
  font-family: $body-font
  list-style: none
  margin: 13px
  width: 275px
  z-index: 20

ul a, button
  background-color: blue
  border: 1px solid black
  border-radius: 5px
  color: white
  font-family: $body-font
  margin-right: 5px
  padding: 2px
  text-decoration: none

ul a
    transition: background-color 1.3s linear

ul a:visited
  background-color: grayscale

ul a:hover
  background-color: lighten(blue, 40%)

ul button
  background-color: darken(blue, 20%)
  color: $trello-color
  font:
    size: 17px
    weight: bold

select
  border-width: .2em
  font:
    family: $body-font
    weight: bold
    size: .8em
